 <div class="user-details">
  <h1> About Me </h1>
  <div class="picture">
    <div class="profile">
      <img alt="profile photo" src="{{ "/assets/img/Profile_pic.png" | prepend: site.baseurl }}" />
    </div>
  </div>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <p>I have a strong foundation in both HTML and CSS and experience using Bootstrap to rapidly develop websites.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-csharp-plain-wordmark colored"></i>
    <i class="devicon-dot-net-plain-wordmark colored"></i>
    <i class="devicon-cplusplus-plain-wordmark colored"></i>
    <p>Beginning my coding journey with C++ I've been growing a repertoire of languages and frameworks ever since.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-gulp-plain colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <p>I've been using a variety of development tools such as Git and Gulp to streamline and improve my development.</p>
  </div>
</div>
