<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Screen-shot of a cartoon dining table surrounded by dressed up mice." src="{{ "/assets/img/Mega-Mystery-Mansion-Mice.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Mega Mystery Mansion </h3>
    <ul>
      <li>Project Management</li>
      <li>C#, Unity</li>
    </ul>
    <p>
      The final computer science project that I convinced my friends to take to the next level. What was originally a 2 week project we started 5 months earlier, before working full time on it for a month and half. For the project I took the lead as project manager keeping our vision focused, and managing the overall design. 
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Screen-shot of a cartoon sitting room." src="{{ "/assets/img/Mega-Mystery-Mansion-Sitting-Room.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3></h3>
    <p>
      At it's heart it is a point and click adventure game about escaping a bizarre mansion that's home to talking rats, a sentient mannequin, and of course, cultists living in the basement. It's a weird game but I will forever value the lessons it taught me about game development, such as teamwork, how to lead a team, and how to plan effectively.
    </p>
    <a class="project-link" href="https://github.com/Adam-Isaak-dev/Mega-Mystery-Mansion">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Screen-shot" src="{{ "/assets/img/Gold_Rush.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Gold Rush </h3>
    <ul>
      <li>JavaScript, HTML, CSS</li>
    </ul>
    <p>
      A simple clicker game I built for school project at MITT where you mine gold to make money to buy various upgrades and auto-clickers. The funny story behind this is we had only been learning JavaScript for around a month and I didn't know about asynchronous coding, but with this I kind of stumbled into using the concept by using setInterval as an update every second for the auto clickers.
    </p>
    <a class="project-link" href="https://github.com/Adam-Isaak-dev/gold-rush">Check it out</a>
  </div>
  
</div>
